$primary-base: #76a9ff;

$screen-mobile: "max-width: 575px";
$screen-tablet: "max-width: 767px";
$screen-desktop: "max-width: 991px";
$screen-laptop: "max-width: 1199px";
$screen-lgDesktop: "max-width: 1599px";
